:root{
    --nav-background-color : rgb(52, 7, 82);
}
.nav-bar{
    height: 2rem;
    position: sticky;
    z-index: 9999999
}
.nav-bar .search-form{
    display: flex;
    position: relative;
    padding: 5px;
    height: 1.7em;
    justify-content: flex-end;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.15);
}
.nav-bar .search-form:hover{
    background-color: rgba(255,255,255,0.25)
}
.nav-bar .search-form .search-button{
    padding: 0;
    height: '100%';
    margin-right: 5px;
    position: 'absolute';
    cursor: auto;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';

}

.nav-bar .user-icon{
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-grow: 1;
}